@import url('https://fonts.googleapis.com/css?family=Bigelow+Rules&display=swap');

footer {
  background-color: #353b48;
  font-family: "Comic-Sans";
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 15vh;
  width: 100%;
  text-align: center;

}